<!-- ho inventato io -->
<h3>Footer Form Items</h3>
<ul>
  {{#each formItems}}
  <li>{{name}} - {{type}} - Label: {{label}}</li>
  {{/each}}
</ul>

<h3>Grid Children</h3>
<ul>
  {{#each gridChildren}}
  <li>{{name}} - {{type}}</li>
  {{/each}}
</ul>